.form-container {
  position: absolute;
  top: 40%;
  left: 36%;
  margin-top: -40px;
  margin-left: -36px;
}

.form-container-top {
  top: 0;
  margin-top: 0;
  width: 100vw;
  /* background-color: red; */
}

.hide-title {
  display: none;
}

.search-container {
  width: 30vw;
}

.search-container-centered {
  width: 30vw;
  margin: 0 auto;
}

.search-container input[type="text"] {
  width: 70%;
  margin: 10px;
}

.search-container-centered input[type="text"] {
  width: 70%;
  margin: 10px;
}

.search-container button {
  margin-top: 6%;
}

.login-signup-container {
  position: absolute;
  right: 0;
}

.signup,
.login {
  margin: 10px;
}
