.display-6 {
  display: inline-block;
  margin-bottom: 5%;
}

.display-6:hover {
  cursor: pointer;
  opacity: 0.5;
}

.details-container {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info {
  text-align: left;
  padding-left: 5%;
}

.details {
  width: 30%;
  padding: 15px;
  border: 1px solid #dee2e6;
  box-shadow: 10px 5px 5px #ced4da;
}

.info p {
  height: 40vh;
  overflow: auto;
  padding: 15px;
  border: 1px solid #dee2e6;
  box-shadow: 10px 5px 5px #ced4da;
}

.details-container img {
  height: 25rem;
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.add-btn-mobile {
  display: none;
}

.desc-text {
  margin-top: 50px;
}

@media only screen and (max-width: 1500px) {
  .details-container {
    width: 90vw;
  }

  .details {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .details-container {
    position: absolute;
    top: 27%;
    display: block;
    width: 90vw;
    margin: 0 auto;
  }

  .info {
    text-align: left;
    padding-left: 5%;
  }

  .info p {
    height: 70vh;
  }

  .details-container img {
    height: 15rem;
    float: none;
  }

  .add-btn {
    display: none;
  }

  .add-btn-mobile {
    display: block;
  }

  .desc-text {
    margin-top: 50px;
  }

  .details {
    height: 35vh;
    width: 70vw;
  }
}
