.form-container {
  position: absolute;
  top: 20%;
  left: 36%;
  margin-top: -20px;
  margin-left: -36px;
}

.form-container-top {
  top: 0;
  margin-top: 0;
  width: 100vw;
}

.logo-searched {
  position: absolute;
  left: 0;
  margin-left: 20px;
  height: 60px;
}

.hide-title {
  display: none;
}

.search-container {
  width: 30vw;
}

.search-container-centered {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 120px;
}

.search-container-centered button {
  height: 40px;
  align-self: center;
}

.svg-search {
  fill: rgba(0, 0, 0, 1);
}

.svg-search:hover {
  fill: #fff;
}

.search-container input[type="text"] {
  width: 96%;
  margin: 10px;
}

.search-container-centered input[type="text"] {
  width: 95%;
  margin: 10px;
}

.login-signup-container {
  position: absolute;
  right: 0;
}

.login-signup-container button {
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .logo-default {
    height: 25vh;
  }

  .search-container {
    width: 70vw;
  }

  .form-container {
    left: 25%;
  }
}
