.row {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.row img {
  height: 150px;
  width: auto;
}

.row h5 {
  width: 15%;
}

/* .row img:hover {
  height: 14rem;
  transition: 3s;
} */
