.dropdown {
  position: absolute;
  right: 0;
  margin: 15px;
}

.book-list img:hover {
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 140px;
  align-content: flex-start;
  gap: 10px;
  align-items: baseline;
}

.book-card {
  text-align: center;
  border: 1px solid black;
}

.status-reading {
  color: #208aae;
}

.status-finished {
  color: green;
}

.status-not-started {
  color: grey;
}

/* library modal styling */
.modal-box {
  display: flex;
}

.options-container {
  padding: 10px;
}

.status-select,
.current-rating {
  margin-left: 40px;
}

.rating-select {
  width: 40%;
  margin: 20px 40px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 700px) {
  .user-library-container {
    height: 100vh;
  }

  .dashboard {
    position: absolute;
    width: 70%;
    text-align: left;
    top: 15%;
    left: 16%;
    margin-top: -15px;
    margin-left: -16px;
  }

  .library-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .filter-btn {
    margin: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .filter-btn {
    margin: 2px;
    margin-top: 5px;
  }

  .dashboard {
    position: absolute;
    width: 100%;
    top: 12%;
    margin-top: -12px;
  }

  .book-list {
    justify-content: center;
  }
}
