.dropdown {
  position: absolute;
  right: 0;
  margin: 15px;
}

.library-sidebar {
  position: absolute;
  left: 0;
  top: 20%;
  list-style-type: none;
  text-align: left;
}

.library-sidebar li button {
  /* background: none; */
  border: none;
  margin-bottom: 15px;
}

.book-list img:hover {
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 120px;
}

.book-card {
  text-align: center;
  margin-right: 25px;
  margin-bottom: 20px;
  border: 1px solid black;
  /* height: 230px; */
}

.status-reading {
  margin-bottom: 5px;
  color: #208aae;
}

.status-finished {
  margin-bottom: 5px;
  color: green;
}

.status-not-started {
  margin-bottom: 5px;
  color: grey;
}

/* library modal styling */
.modal-box {
  display: flex;
}

.options-container {
  padding: 10px;
}

.status-select,
.current-rating {
  margin-left: 40px;
}

.shelf-select {
  margin: 20px 40px;
}

.rating-select {
  width: 40%;
  margin: 20px 40px;
  margin-bottom: 5px;
}

.delete-btn {
  margin-left: 400px;
}
@media only screen and (min-width: 500px) {
  .user-library-container {
    height: 100vh;
  }

  .dashboard {
    position: absolute;
    width: 70%;
    text-align: left;
    top: 15%;
    left: 16%;
    margin-top: -15px;
    margin-left: -16px;
  }

  .dashboard img {
    /* margin-right: 25px; */
    margin-bottom: 5px;
  }
}
